@model Hack.Server.Controllers.ProjectIndexViewModel

<div class="profile">
    <div class="profile-image">
        <div class="profile-image-circle">
            <img src="@Model.ProfileImage"/>
        </div>
    </div>
    <div class="profile-title">
        @Model.Name
    </div>
    <div class="profile-bio">
        @Model.Bio
    </div>
    <div>
        
    </div>
</div>