<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="HackDbContext" connectionString="Server=2119717d-e8c9-4fb7-bff8-a53b00d8efd7.sqlserver.sequelizer.com;Database=db2119717de8c94fb7bff8a53b00d8efd7;User ID=jtcjztrhpkllcdvk;Password=7xEkYS8hSrkHJLfLuFXpYqkbBRDTYRtLgo8cjDaLU7LMHgP8uVeFsJHQnCRgnoqa;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
