<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="HackDbContext" connectionString="Server=tcp:z8kiylw092.database.windows.net,1433;Database=CodeGainz;User ID=ctDbUser@z8kiylw092;Password=gsACYRVgBKuX7Y7;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
