@model Hack.Server.Controllers.EndorsementItem

<div class="endorsement">
    <div class="count">
        @Model.Count
    </div>
    <div class="endorsement-name">
        @Model.Name
    </div>
</div>