
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*
    Home
*/

.home {
    background-color: #eee;
    padding: 8px 17px
}

.home-question {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 8px 0;
    height: 225px;
}

.home-question img {
    width: 225px;
    height: 225px;
}

.home-question-details {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 1;
}

.home-question-title {
    font-size: 50px;
    font-weight: 500;
    color: #414141;
    flex: 1;
    padding: 10px;
}

.home-question-description {
    color: #757575;
    font-size: 30px;
    flex: 1;
    padding: 10px;
    font-weight: 400;
}

.home-tag-item {
    color: #757575;
    background-color: #b7b6b6;
    margin: 10px;   
    flex: 1;
}