
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*
    Home
*/

.home {
    background-color: #eee;
    padding: 20px;
}

.home-question {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0 0 25px;
    height: 225px;
}

.home-question img {
    flex: 0.5;
}

.home-question-details {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 1;
    padding: 20px 20px 10px 20px; 
}

.home-question-title {
    font-size: 25px;
    font-weight: 500;
    color: #414141;
    flex: 1;
    text-transform: uppercase;
    line-height: 30px;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
    word-break: break-all
}

.home-question-description {
    color: #757575;
    font-size: 15px;
    flex: 1;
    font-weight: 400;
    overflow: hidden;
    word-break: break-all;
    min-height: 70px;
}

.home-question-tags {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.home-tag-item {
    color: #eee;
    background-color: #757575;
    margin: 0 10px;
    padding: 5px 10px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 32px;
}

/*
    Question

*/

.question-detail {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #2196fe ;
}

.question-detail-panel {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.question-detail-question,  .question-detail-description-title{
    color: white;
    flex: 1;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;

}

.question-detail-title {
    font-weight: 500;
    color: white;
    flex: 1;
    color: white;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 64px;
    line-height: 45px;
}

.question-detail-description {
    font-weight: 400;
    color: white;
    border-bottom: 2px solid white;
    flex: 1;
    color: white;
    color: white;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.question-user-info {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.question-user-info-username {
    color: #eee;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.question-user-info-date {
    text-align: right;
    color: #bdbdbd ;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.question-detail-offers {
    background-color: #eee;
    padding: 15px;
}

/*
    Question Comment
*/

.question-offer {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.question-offer-content {
    flex: 1;
    padding: 10px;
}

.question-offer-content-header {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.question-comment-text {
    flex: 1;
    font-size: 20px;
    font-weight: 400;
    color: #656565 ;
    font-family: Roboto;
    margin-bottom: 14px;
}

.question-comment-datetime {
    flex: 1;
    text-align: right;
    color: #bdbdbd ;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
}

.question-comment-answer-title {
    font-size: 15px;
    font-weight: 500;
}

.question-comment-profile-image{
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #1cbbb4 ;
    margin: 10px;
}
.question-comment-profile-image img{
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.question-comment-answer-content {
    color: #656565 ;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}


.question-comment-select-icon {
    margin-left: 20px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: right;
}


.question-comment-select-icon img {
    height: 40px;
    width: 25px;
}

/*
    No Content
*/

.no-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 40px;
    text-align: center;
    color: #bdbdbd ;
    font-family: Roboto;
}

.no-content-image {
      display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;

}

.no-content img{
    width: 260px;
    height: 260px;
}

.content-header {
    font-weight: bold;
    font-size: 40px;
}

.no-content-info {
    margin-bottom: 50px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

/*
    Profile
*/

.profile {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 50px;
}

.profile-header {
    background-color: white;
    flex: 1;
    text-align: center;
    border-bottom: 4px solid #bdbdbd;
    padding-bottom: 40px;
}

.profile-image {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
}
.profile-image img {
    width: 140px;
    height: 140px;
     -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
}
.profile-title {
    color: #414141 ;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 40px;
}

.profile-bio {
    color: #757575 ;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    padding: 30px 100px 0;
}

.endorse-title {
    color: #757575 ;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 4px solid #bdbdbd;
}

.profile-image-circle {
    height: 140px;
    width: 140px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    margin-bottom: 70px;
}

.endorse-title {
    margin: 0 25px;
    font-size: 20px;
}
/*
    Endorsement
*/

.endorse-section{
    background-color: #eee;
    padding: 10px;
}

.profile-endorements {
    background-color: #eee;
    padding: 10px;
}

.endorsement {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: white;
    margin: 15px 10px;
}

.count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    background-color: #414141;
    font-family: Roboto;
    width: 130px;
    height: 80px;
    text-align: center;
}

.endorsement-name {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-weight: 400;
    font-size: 25px;
    background-color: white;
    padding-left: 20px;
    color: #757575;
}

