@model List<Hack.Server.Controllers.HomeQuestionViewModel>

<div class="home">
    @foreach (var question in Model)
    {
        @Html.Partial("_partial/_question", question)
    }
</div>

<script>
    $(document).ready(function() {
        $('.home-question').click(function() {
            var questionId = $(this).attr('data-id');
            nativeListener.performClick(questionId);
            alert('sdfhsdkjfhds: '+ questionId);
        });
    });
</script>