@model List<Hack.Server.Controllers.HomeQuestionViewModel>

<div class="home">
    @foreach (var question in Model)
    {
        @Html.Partial("_partial/_question", question)
    }
</div>

<script>
    jQuery(document).ready(function () {
        jQuery('.home-question').click(function() {
            var questionId = jQuery(this).attr('data-id');
            nativeListener.performClick(questionId);
            alert('sdfhsdkjfhds: '+ questionId);
        });
    });
</script>