@model List<Hack.Server.Controllers.HomeQuestionViewModel>

<div class="home">
    @if (Model.Count == 0)
    {
        <div class="no-content">
            <div class="no-content-image">
                <img src="~/Content/ic_no-content.png"/>
            </div>
            <div class="content-header">
                Opps!
            </div>
            <div class="no-content-info">
                Currently there are <br/>no questions available
            </div>
            <div class="no-content-info">
                Tap the speech bubble <br /> to ask a new question
            </div>
        </div>
    }
    else
    {
        foreach (var question in Model)
        {
            @Html.Partial("_partial/_question", question)
        }
    }
</div>

<script>
    jQuery(document).ready(function () {
        jQuery('.home-question').click(function() {
            var questionId = jQuery(this).attr('data-id');
            nativeListener.performClick(questionId);
            alert('sdfhsdkjfhds: '+ questionId);
        });
    });
</script>